@import "../../../styles/vars.css";

.navbar {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 25%;
  height: 25%;
}

.menuBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
