@font-face {
  font-family: "KnockOut";
  src: url("../assets/fonts/knockout.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Instrument Sans";
  src: url("../assets/fonts/instrumentSans_regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Instrument Sans";
  src: url("../assets/fonts/instrumentSansIT.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Instrument Sans";
  src: url("../assets/fonts/instrumentSans_medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Instrument Sans";
  src: url("../assets/fonts/instrumentMediumIT.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Instrument Sans";
  src: url("../assets/fonts/instrumentSans_semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Instrument Sans";
  src: url("../assets/fonts/instrumentSans_semiboldIT.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
