:root {
  /*colours*/
  --color-text: #101010;
  --color-secondary: #c63773;
  --color-bg: #ffffff;
  --color-bg--secondary: #f9f9f9;

  /*text*/
  --font-branding: "KnockOut", serif;
  --font-body: "Instruments Sans", sans-serif;

  width: 100%;
  height: 100%;
}
