@import "/src/styles/vars.css";

.App {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  z-index: 0;
}

.App::before {
  content: " ";
  position: absolute;
  inset: 0;
  background-image: url("src/assets/images/background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}
