* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-sans-serif), Arial, Helvetica, sans-serif;
  font-family: var(--font-serif), "Times New Roman", Times, serif;
}

html {
  scroll-behavior: smooth;
}
