@import "../../../styles/vars.css";

.container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  font-size: 0.8rem;
}

.heading {
  font: var(--font-branding);
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.priceHeader {
  margin-bottom: 1.5rem;
}

.productImageContainer {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--color-bg--secondary);
  padding: 2rem 2rem;
  margin-bottom: 1.5rem;
  z-index: 0;
}

.productImage {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.customPagination {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  z-index: 0;
}

.customPagination :global(.swiper-pagination-bullet) {
  width: 6px;
  height: 6px;
  background-color: rgb(220, 220, 220);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s ease;
  margin: 0 4px;
  display: inline-block;
}

.customPagination :global(.swiper-pagination-bullet-active) {
  background-color: gray;
}

.swiperContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.button3D {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  border: 1.5px solid #2690ca;
  background-color: white;
  padding: 0.5rem;
  border-radius: 2rem;
  width: 40%;
  color: #2690ca;
  margin-bottom: 2rem;
  z-index: 0;
  bottom: 95px;
  left: 20px;
  text-decoration: none;
}

.button3D:hover {
  cursor: pointer;
  background-color: #f4fbff;
}

.colorName {
  margin-top: -2rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

/*need to do js to change colour when the image changes*/
.colorOptionsContainer {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow-x: auto;
  padding: 0.5rem 0;
  scrollbar-width: none; /*firefox*/
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
}

.colorOptionsContainer::-webkit-scrollbar {
  display: none; /*chrome, safari*/
}

.colorOption {
  background-color: var(--color-bg--secondary);
  flex: 0 0 30%;
  max-width: 90px;
  aspect-ratio: 1/1;
  border-radius: 0.2rem;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  position: relative;
  z-index: 2;
}

.colorOption img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.colorOption.selected {
  border-bottom: 2px solid black;
}

.colorImage {
  width: 100%;
  height: 100%;
  padding: 1rem 0;
  background-color: var(--color-bg--secondary);
  object-fit: cover;
}

/*price column*/
.priceColumn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.quantityOptions {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: gray;
}

.quantitySelect {
  background-color: white;
  border: none;
  cursor: pointer;
  color: gray;
}

.priceBottom {
  font-weight: bold;
}

.addToCart {
  background-color: var(--color-text);
  border: none;
  border-radius: 0.2rem;
  padding: 0.8rem;
  color: white;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.addToCart:hover {
  background-color: black;
}

.temperature {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.temperatureRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.6rem;
}
